<div class="card">
  <div class="card-header">
    <div class="row">
      <ul class="nav nav-tabs nav-justified" id="myTabs" role="tablist">
        <li class="nav-item">
          <button
            class="nav-link active tab-button"
            id="url-creation-tab"
            data-bs-toggle="tab"
            data-bs-target="#url-creation-pane"
            role="tab"
            area-controls="url-creation-pane"
            aria-selected="true"
          >
            Create URL
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link tab-button"
            id="qr-creation-tab"
            data-bs-toggle="tab"
            data-bs-target="#qr-creation-pane"
            role="tab"
            area-controls="qr-creation-pane"
            aria-selected="false"
          >
            Find QR
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="url-creation-pane"
        role="tabpanel"
        aria-labelledby="url-creation-tab"
        tabindex="0"
      >
        <form [formGroup]="urlCreationForm">
          <div class="row py-2">
            <div class="col-12">
              <label for="linkField" class="form-label">Long URL</label>
              <input
                [ngClass]="{
                  'input-error':
                    urlCreationForm.get('long_url')?.touched &&
                    urlCreationForm.controls['long_url'].hasError('required')
                }"
                id="linkField"
                formControlName="long_url"
                class="form-control form-control-lg"
                type="text"
                placeholder="Long url"
                aria-label="long url field"
              />
              <span
                class="form-field-error"
                *ngIf="
                  urlCreationForm.get('long_url')?.touched &&
                  urlCreationForm.controls['long_url'].hasError('required')"
                >Required</span
              >
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-12">
              <label for="domainField" class="form-label">Domain</label>
              <input
                id="domainField"
                formControlName="domain"
                class="form-control form-control-lg"
                type="text"
                placeholder="domain"
                aria-label="domain field"
                [disabled]="true"
              />
              <span
                *ngIf="
                  urlCreationForm.get('domain')?.touched &&
                  urlCreationForm.controls['domain'].hasError('required')
                "
                >required</span
              >
            </div>
            <div class="col-md-6 col-12">
              <label for="backHalfField" class="form-label" >Back Half(option)</label
              >
              <input
              [ngClass]="{'input-error':(urlCreationForm.get('back_half')?.touched && urlCreationForm.controls['back_half'].hasError('not_available'))}"
                id="backHalfField"
                formControlName="back_half"
                class="form-control form-control-lg"
                type="text"
                placeholder="back half"
                aria-label="back half field"
              />
              <span
                class="form-field-error"
                *ngIf="
                  urlCreationForm.get('back_half')?.touched &&
                  urlCreationForm.controls['back_half'].hasError('not_available')">
                  Not Available</span
              >
            </div>
          </div>

          <div *ngIf="is_resp" class="mt-4">
            <div class="alert alert-success" *ngIf="is_resp_success">
              <h1 class="alert-heading">Your URL is ready!</h1>
              <hr />
              <div class="row">
                <div
                  class="col-md-8 d-flex flex-row justify-content-center align-items-center"
                >
                  <h2 class="m-0">
                    {{ new_url }}
                    <i
                      [cdkCopyToClipboard]="new_url"
                      class="bi bi-clipboard m-2"
                    ></i>
                  </h2>
                </div>
                <div class="col-md-4">
                  <img height="200px" width="200px" [src]="imageInBytes" />
                </div>
              </div>
            </div>

            <div class="alert alert-danger" *ngIf="!is_resp_success">
              <h2 class="alert-heading"> Sorry! could not generate URL</h2>
            </div>
          </div>

          <div class="row py-4">
            <div class="col-12 d-flex justify-content-center">
              <button
                class="btn btn-lg btn-primary"
                (click)="generateShortUrl()"
              >
                Submit
              </button>
            </div>
          </div>
        </form>

        <hr />
        <div class="row justify-content-center">
          <div class="col-md-4 d-flex flex-column">
            <div class="number d-flex flex-column">
              {{ totalURLs }}
              <hr />
              <h2>Total URLs</h2>
            </div>
          </div>
          <div class="col-md-4 d-flex flex-column">
            <div class="number d-flex flex-column">
              {{ maxHits }}
              <hr />
              <h2>Highest hits</h2>
            </div>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="qr-creation-pane"
        role="tabpanel"
        aria-labelledby="qr-creation-tab"
        tabindex="0"
      >
        <form [formGroup]="searchQrForm">
          <div class="row py-2">
            <div class="col-12">
              <label for="linkField" class="form-label">Long URL</label>
              <input
                [ngClass]="{
                  'input-error':
                    searchQrForm.get('short_url')?.touched &&
                    (searchQrForm.controls['short_url'].hasError('required') ||
                    searchQrForm.controls['short_url'].hasError('invalid_url'))
                }"
                id="linkField"
                formControlName="short_url"
                class="form-control form-control-lg"
                type="text"
                placeholder="Long url"
                aria-label="long url field"
              />
              <span
                class="form-field-error"
                *ngIf="
                  searchQrForm.get('short_url')?.touched &&
                  searchQrForm.controls['short_url'].hasError('required')">Required</span>

                <span
                class="form-field-error"
                *ngIf="searchQrForm.controls['short_url'].hasError('invalid_url')">Invalid URL</span>

            </div>
          </div>

          <div class="row py-4">
            <div class="col-12 d-flex justify-content-center">
              <button class="btn btn-lg btn-primary" (click)="searchQrCode()">
                Submit
              </button>
            </div>
          </div>
        </form>
        <hr />

        <div
          class="alert alert-success d-flex flex-column justify-content-center"
          *ngIf="searchedQr"
        >
          <h2 class="alert-heading">Here is your QR!</h2>
          <hr />
          <div class="d-flex justify-content-center">
            <img height="200px" width="200px" [src]="searchedQr" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
